<!DOCTYPE html>
<html>
<head>
  <title>Wambl</title>

  <% if current_user %>
  	<script type="text/javascript">var current_user = <%= current_user.to_json(except: [:password_digest]).html_safe %>;</script>
  <% end %>
  
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'custom_'+params[:controller] %>
  <%= favicon_link_tag 'favicon.ico' %>

  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

</head>
<body ng:app="RavenNG" ng:controller="MainCtrl">

	<table id="layout" cellpadding="0" cellspacing="0" border="0">

		<tr class="layout">
			<td colspan="2" class="layout">
				
				<div id="nav">
					<div class="nav_wrap">

						<div class="sec" align="left">
							<a class="app_logo" href="/"></a>
						</div>
						<div class="sec" align="right">
							<a href="/app/#/calendar">Calendar</a>
						</div>
						<div class="sec" align="right">
							<a href="/app/#/account">My&nbsp;Account</a>
						</div>
						<div class="sec" align="right">
							<a href="/logout">Logout</a>
						</div>

					</div>
				</div>

			</td>
		</tr>
		<tr class="layout">
			<td valign="top" class="layout">
				<div class="scroller">
					
					<div class="menu-wrap">

						<ul class="menu-container">
							<li class="menu-section" ng:repeat="m in sideEvents">
								
								<a href="/app/#/calendar?year={{year}}&month={{($index+1)}}" class="menu-label {{monthsel[$index]}}">{{months[$index].long}}</a>

								<ul class="menu-items">
									<li ng:repeat="event in m" class="menu-item">
										<a href="/app/#/events/{{event.id}}" class="menu-item-label {{hover[event.id]}}" ng:mouseover="highlight(event.id)" ng:mouseleave="highlight(0)">
											<div class="maintext F14">{{event.title}}</div>
											<div class="subtext F12">{{event.location}}</div>
											<div class="subtext F11">{{displayDate(event.start_date).M}}&nbsp;{{displayDate(event.start_date).d}},&nbsp;{{displayDate(event.start_date).y}}&nbsp;to&nbsp;{{displayDate(event.end_date).M}}&nbsp;{{displayDate(event.end_date).d}},&nbsp;{{displayDate(event.end_date).y}}</div>
										</a>
									</li>
								</ul>
							</li>
						</ul>

					</div>

				</div>
			</td>
			<td valign="top" class="layout">
				<div class="scroller">
					<div id="ngview" ng:view></div>
				</div>
			</td>
		</tr>

	</table>

</body>
</html>
