<!DOCTYPE html>
<html>
<head>
  <title>Wambl</title>

  <% if current_user %>
  	<script type="text/javascript">var current_user = <%= current_user.to_json(except: [:password_digest]).html_safe %>;</script>
  <% end %>
  
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'custom_'+params[:controller] %>
  <%= favicon_link_tag 'favicon.ico' %>

  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

</head>
<body ng:app="RavenNG" align="center">

	<div id="top-wrap">

		<div class="top-content">

			<div class="top-cell">

				<a href="/" class="corner-logo"></a>

			</div>
			<div class="top-cell">

				<div class="login-form">
				<%= form_tag sessions_path do %>
					<%= text_field_tag :email,nil,placeholder: 'Email' %>
					<%= password_field_tag :password,nil,placeholder: 'Password' %>
					<%= submit_tag "Sign In",class: 'btn splash-btn' %>
				<% end %>
				</div>

			</div>

		</div>

	</div>

	<div id="mid-wrap">

		<div class="mid-content">

			<table class="splash-table">
				<tr>
					<td class="splash-form">
						<span>Sign Up for Free!</span>
						<%= render 'form' %>
						<div class="social-wrap" onclick="pop('https://api.instagram.com/oauth/authorize/?client_id=066491d54faf4644bc92586ba4b7953c&redirect_uri=http://localhost:3000/api/v1/instagram/verify%3ftype=new&response_type=code',500,400)">
							<div class="menu-wrap">

								<ul class="menu-container">
									<li class="menu-section">

										<div class="menu-label">

											<table class="social-table">
												<tr>
													<td>
														<%= image_tag 'camera-100.png' %>
													</td>
													<td>
														Sign In with Instagram
													</td>
												</tr>
											</table>

										</div>

									</li>
								</ul>

							</div>
						</div>
					</td>
				</tr>
			</table>

		</div>

	</div>

</body>
</html>